.title {
  font-weight: 900;
  font-size: clamp(46px, 11vw, 64px);
  font-family: var(--font-sans);
  color: var(--text-dark-blue);
  line-height: 110%;
  letter-spacing: -0.1rem;
  text-align: left;
  width: 65%;
}


@media (max-width: 900px) {
  .title {
    width: 80%;
  }
}

@media (max-width: 500px) {
  .title {
    width: 100%;
  }
}

.subtitle {
  font-weight: 500;
  font-size: clamp(17.25px, 4.15vw, 24px);
  letter-spacing: -0.08rem;
  color: var(--text-dark-grey);
  margin: 0.5rem 0.2rem;
}

.subtitle2 {
  font-weight: 500;
  font-size: clamp(14.375px, 3.47vw, 20px);
  color: var(--text-dark-grey);
  margin: 0.5rem 0.2rem;
}

.label {
  font-size: clamp(11.5px, 2.75vw, 16px);
  margin-left: 0.2rem;
  font-family: var(--font-mono);
}

.spacer {
  margin-bottom: 5rem;
}

.vertical-display {
  position:relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  top: 0px;
  width:100%;
}

.vertical-line {
  content: "";
  position: absolute;
  left: 50%;
  top: 0px;
  height: 650px;
  width: 1px;
  background-color: var(--text-grey);
  z-index: 0;
}

.first {
  margin-top: 60px;
}

.vertical-label {
  z-index: 1;
  padding: 5px;
  margin-bottom: 115px;
  border-radius: 10px;
  border: 1px solid var(--text-dark-grey);
  background-color: white;
  color: var(--text-blue-grey);
  font-family: var(--font-mono);
  font-size: 18px;
  cursor: default;

  &::before {
    content: "#";
  }
}

.cards-wrap {
  position: absolute;
  width: 90%;
  top: 10px;

  & .card {
    position: relative;
    width: 100%;
    height: 130px;
    margin-bottom: 15px;

    & .left,
    & .right {
      position: absolute;
      width: 35%;
      height: 100%;
      border: 1px solid var(--text-dark-grey);
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;

      &::before {
        content: "";
        height: 1px;
        background-color: var(--text-dark-blue);
        width: 100%;
        margin-top: 25px;
      }

      & > div {
        height: 100%;
        text-align: center;
        display: flex;
        align-items: center;
      }
      
    }

    & .left {
    }

    & .right {
      right: 0;
    }
  }

}

.circles {
  position: absolute;
  height: 100%;
  width: 100%;
  margin: -60px;
}

.circle {
  width: 10px;
  height: 10px !important;
  border-radius: 100%;
  margin-left: 8px;
  margin-top: 16px;
}

.red {
  background-color: red;
}

.orange {
  background-color: orange;
}

.green {
  background-color: green;
}