<section>
  <div #hello>
    <p class="label">Hello, my name is</p>
    <h1 class="title">Saúl García</h1>
    <h1 class="title">Céspedes.</h1>
    <h2 class="subtitle">Full Stack Software Developer.</h2>
    <h2 class="subtitle2 spacer">I build things on the internet.</h2>
  </div>
</section>
<div class="arrow-spacer">
  <app-arrow class="center" sectionId="about"></app-arrow>
</div>

<section>
  <div #about>
    <h2 class="subtitle" id="about">About me</h2>
    <p class="content paragraph spacer-s">
      I'm a highly motivated software developer and computer engineering student with a strong foundation in programming principles and software. 
      I'm proficient with web development frameworks and Linux environments.
      The last few months I have been interested in blockchain applications development.
    </p>
    <div class="spacer">
      <app-vertical-display></app-vertical-display>
    </div>
  </div>
</section>
<div class="arrow-spacer">
  <app-arrow sectionId="experience"></app-arrow>
  <app-arrow></app-arrow>
</div>

<section>
  <div>
    <h2 class="subtitle" id="experience">Experience</h2>
  </div>
</section>
<div class="arrow-spacer">
  <app-arrow sectionId="contact"></app-arrow>
  <app-arrow sectionId="about"></app-arrow>
</div>

<section>
  <div>
    <h2 class="subtitle" id="contact">Contact</h2>
  </div>
</section>
<div class="arrow-spacer">
  <app-arrow class="reverse" sectionId="experience"></app-arrow> 
</div>

<div class="spacer"></div>