.title {
  font-weight: 900;
  font-size: clamp(46px, 11vw, 64px);
  font-family: var(--font-sans);
  color: var(--text-dark-blue);
  line-height: 110%;
  letter-spacing: -0.1rem;
  // width: 65%;
  // background: linear-gradient(-50deg, var(--text-dark-grey) 0%, var(--text-dark-blue) 80%);
  // background-clip: text;
  // -webkit-background-clip: text;
  // -webkit-text-fill-color: transparent;
}

@media (max-width: 900px) {
  .title {
    width: 80%;
  }
}

@media (max-width: 500px) {
  .title {
    width: 100%;
  }
}

.subtitle {
  font-weight: 500;
  font-size: clamp(17.25px, 4.15vw, 24px);
  letter-spacing: -0.08rem;
  color: var(--text-dark-grey);
  margin: 0.5rem 0.2rem;

  &::before {
    content:"";
    display:block;
    height: 110px; /* fixed header height*/
    margin:-110px 0 0; /* negative fixed header height */
  }
}

.subtitle2 {
  font-weight: 500;
  font-size: clamp(14.375px, 3.47vw, 20px);
  color: var(--text-dark-grey);
  margin: 0.5rem 0.2rem;
}

.label {
  font-size: clamp(11.5px, 2.75vw, 16px);
  margin-left: 0.2rem;
  font-family: var(--font-mono);
}

.paragraph {
  font-size: clamp(12.9375px, 3.1vw, 18px);
  color: var(--text-dark-grey);
  margin: 0.5rem 0.2rem;
  line-height: 1.4;
}

.spacer {
  margin-bottom: 5rem;
}
.spacer-s {
  margin-bottom: 2.5rem;
}

section {
  position: relative;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 9rem);
  overflow: auto;
  overflow-x: hidden;
  margin-top: 10vh;

  &:first-child {
    margin-top: 0;
  }

  /* ===== Scrollbar CSS ===== */
  /* Firefox */
    scrollbar-width: thin;
    scrollbar-color: var(--text-grey) transparent;

  /* Chrome, Edge, and Safari */
  &::-webkit-scrollbar {
    width: 1px;
  }

  &::-webkit-scrollbar-track {
    background: #ffffff;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #908d91;
    border-radius: 8px;
    border: 1px none #ffffff;
  }
}

.arrow {
  display: flex;
  justify-content: center;
  margin-right: 1px;

  & .center {
    margin-left: 18px;
  }

  app-arrow + app-arrow, & .reverse {
    transform: rotate(180deg) translateY(30px);
  }

  & .reverse {
    margin-right: 18px;
  }
}
