<p class="label">Hello, my name is</p>
<h1 class="title">Saúl García Céspedes.</h1>
<h2 class="subtitle">Full Stack Software Developer.</h2>
<h2 class="subtitle2 spacer">I build things on the internet.</h2>

<h2 class="subtitle">About me</h2>
<p class="content spacer">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente unde vel nostrum. Velit blanditiis enim quis fugit, magni beatae quasi quo quam iusto voluptatibus, libero sapiente quos a voluptates aperiam doloribus quae consequatur harum officiis adipisci? Dolorem a beatae quod perferendis officia laboriosam fuga natus. Sequi, corporis consequuntur unde possimus delectus iusto ratione? Alias quibusdam rerum quod esse aspernatur! Incidunt magnam dolorum quia sequi deleniti doloribus eligendi doloremque nemo voluptatum distinctio nesciunt iusto ullam impedit, ipsam soluta fugiat, est consequatur ad? Tempore, atque? Exercitationem voluptate quod cupiditate provident. Laboriosam temporibus libero unde maiores autem eaque praesentium reprehenderit molestiae! Recusandae, nihil?</p>
<div class="vertical-display spacer">
  <div class="vertical-label first">Frontend</div>
  <div class="vertical-label">Backend</div>
  <div class="vertical-label">Systems</div>
  <div class="vertical-label">Studies</div>
  <div class="cards-wrap">
    <div class="card">
      <div class="right">
        <div>
          <p>I have extensive experience using Angular and Ionic frameworks.</p>
        </div>
        <div class="circles">
          <div class="circle red"></div>
          <div class="circle orange"></div>
          <div class="circle green"></div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="left">
        <div>
          <p>I'm confortable with node.js applications and both SQL and NoSQL Databases</p>
        </div>
        <div class="circles">
          <div class="circle red"></div>
          <div class="circle orange"></div>
          <div class="circle green"></div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="right">
        <div>
          <p>I'm proficient using Linux based systems and deploying online services.</p>
        </div>
        <div class="circles">
          <div class="circle red"></div>
          <div class="circle orange"></div>
          <div class="circle green"></div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="left">
        <div>
          <p>I'm currently studying Computer Engineering and also learning about blockchain development</p>
        </div>
        <div class="circles">
          <div class="circle red"></div>
          <div class="circle orange"></div>
          <div class="circle green"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="vertical-line"></div>
</div>