<div class="vertical-display spacer">
  <div class="vertical-label first">Frontend</div>
  <div class="vertical-label">Backend</div>
  <div class="vertical-label">Systems</div>
  <div class="vertical-label">Studies</div>
  <div class="cards-wrap">
    <div class="card">
      <div class="right">
        <div>
          <p>I have extensive experience using Angular and Ionic frameworks.</p>
        </div>
        <div class="circles">
          <div class="circle red"></div>
          <div class="circle orange"></div>
          <div class="circle green"></div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="left">
        <div>
          <p>I'm confortable with node.js applications and both SQL and NoSQL Databases</p>
        </div>
        <div class="circles">
          <div class="circle red"></div>
          <div class="circle orange"></div>
          <div class="circle green"></div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="right">
        <div>
          <p>I'm proficient using Linux based systems and deploying online services.</p>
        </div>
        <div class="circles">
          <div class="circle red"></div>
          <div class="circle orange"></div>
          <div class="circle green"></div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="left">
        <div>
          <p>I'm currently studying Computer Engineering and also learning about blockchain development</p>
        </div>
        <div class="circles">
          <div class="circle red"></div>
          <div class="circle orange"></div>
          <div class="circle green"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="vertical-line"></div>
</div>