a {
  cursor: pointer;
}

.navbar-wrap {
  position: fixed;
  width: 100%;
  height: 71px;
  top: 0;
  background-color: white;
  z-index: 100;
}

.navbar {
  position: fixed;
  right: 5rem;
  top: 1.5rem;
  display: flex;
  align-items: flex-end;
  counter-reset: menu-number;

  & a {
    display: flex;
    align-items: center;
    height: 3rem;
    margin-left: 1.5rem;
    color: var(--text-dark-blue);
    transition: 0.2s color;
    font-family: 'SF Mono', monospace;
    font-weight: 500;
    font-size: 16px;

    &:hover {
      transition: var(--transition);
      color: var(--text-grey);
    }

    &::before {
      content: "0"counter(menu-number)".";
      counter-increment: menu-number;
      color: var(--text-grey);
      margin-right: 0.5rem;
    }
  }

  & p {
    display: block;
    text-align: center;
  }

  &:after {
    content: "";
    position: fixed;
    right: 5rem;
    height: 1px;
    width: 80px;
    background-color: var(--text-grey);
  }
}

img {
  position: fixed;
  height: 40px;
  left: 5rem;
  top: 1.5rem;
}