.links-container {
  position: fixed;
  bottom: 0px;
  left: 5rem;
  box-sizing: inherit;
  display: block;
  font-weight: 00;

  & .links {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    color: var(--text-grey);
    margin: 0;

    & li {
      height: 50px;
      transition: var(--transition);
      & a {
        margin-top: 10px;
        transition: var(--transition);
        fill: var(--text-grey);
          
        & svg {
          height: 24px;
          width: 24px;
        }
  
        &:hover {
          margin-top: 7px;
          fill: var(--text-dark-blue);
          transition: var(--transition);
        }
      }
    }

    &::after {
      content: "";
      display: block;
      margin-top: 15px;
      width: 1px;
      height: 80px;
      background-color: var(--text-grey);
    }
  }
}

@media (max-width: 1080px) {
  .links-container {
    left: 2rem;
  }
}

@media (max-width: 600px) {
  .links-container {
    display: none;
  }
}
